.Starship{
    background: #225236;
    width:8%;
    height: 8%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 160px;
    border-radius: 4px;
    box-shadow:4px 8px 6px rgba(0,0,0);
    border:0.3% solid #000;
    margin: 0.8%;
}
.starship-name {
    color: #fff;
}