.Scores{
    padding:2%;
    background: #832051;
    color: #fff;
    width: 30%;
    border-radius:15px;
    border: 2px solid #520f2f;
    box-shadow:2px 4px #49122d;
}
.Score{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    
}
.scoreProps{
    padding:0 1% 0 1%;
}